#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

p {
  padding: 0.5rem;
}

button {
  margin: 1rem;
}

.notes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 30px;
  gap: 6px;
}

.notetext {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darkslategray;
  padding: 0rem;
  margin: 0.25rem;
  height: auto;
  width: 150px;
  border: 2px solid whitesmoke;
  box-shadow: 4px 4px 5px 0px #00000075;
  border-radius: 2px;
  transform: scale(1);
  transition: 300ms ease-out;
}

.notetext:hover {
  box-shadow: 5px 5px 6px 2px #00000075;
  border-top-right-radius: 10px;
  transform: scale(1.1);
  transition: 300ms ease-out;
}

.notetext > h2{
  font-size: 20px;
}

.notetext > h5{
  font-size: 12px;
}

.notetext > p{
  font-size: 10px;
}